@charset "UTF-8";
.numbers {
  width: 484px;
  margin: 0 auto;
}

.numbers .numbers__header {
  margin-bottom: 34px;
}

.numbers .numbers__header ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px 27px;
  margin: 0;
  border: none;
  background: #f3f6fd;
}

.numbers .numbers__header ul li {
  margin-right: 20px;
}

.numbers .numbers__header ul li a {
  line-height: 60px;
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.numbers .numbers__header ul li a:hover,
.numbers .numbers__header ul li a.active {
  color: #0968ac;
}

.numbers .numbers__header ul li a:hover::before,
.numbers .numbers__header ul li a.active::before {
  content: "";
  width: 100%;
  background-color: #0968ac;
  height: 3px;
  display: block;
  bottom: 0px;
  position: absolute;
}

.numbers .numbers__header ul li a sup {
  font-size: 10px;
  font-weight: 500;
}

.numbers .numbers__search {
  margin-bottom: 68px;
  padding: 0px 27px;
}

.numbers .numbers__search .numbers__search-error{
  position: absolute;
  font-size: 12px;
  text-align: right;
  color: #f00;
  margin: 10px 0 0;
}

.numbers .numbers__search .numbers__search-input {
  border: none;
  -webkit-box-shadow:  rgba(0, 0, 0, 0.1) 0px 4px 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: url(../img/icons/icons.svg#magnifier) no-repeat transparent 9px 9px;
  background-size: 14px;
  font-weight: 400;
  padding: 6px 29px;
  width: 100%;
  display: block;
  line-height: 21px;
}

.numbers .numbers__result ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.numbers .numbers__result ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #f2f4f7;
  margin-bottom: 8px;
  padding: 0 25px 7px;
}

.numbers .numbers__result ul li .numbers__digit {
  color: #000;
}

.numbers .numbers__result ul li .numbers__date {
  color: #959595;
}