$grid-gutter-width: 30px;
$container-max-widths: (
  sm: 480px,
  md: 768px,
  lg: 990px,
  xl: 1170px,
  xxl: 1200px
);

$white: #fff;
$white-almost: #fafafa;
$black: #000;
$black-almost: #191919;
$black-almost-2: #222;
$blue: #005999;
$blue-svg: #1378bf;
$grey: #262626;
$grey-light-2: #8c8c8c;
$grey-light: #c7c7c7;
$h2-font-size: 46px;

@import "bootstrap/bootstrap.scss";
@import "_styles-part1";
@import "_styles-part2";
@import "_styles-part3";
@import "_media";